.mobile-menu-wrap
  .mobile-menu-bg
  .mobile-menu
    .nav-middle
      a(href="#").active Женщинам 
      a(href="#") Мужчинам
      a(href="#") Детям
    ul.categories-menu
      mixin catm(icon, name, individual)
        li
          a(href="#" class=individual).category-item
            .category-icon
              img(src=`assets/img/cat`+icon+`.svg`, alt="")
            =name 
      +catm('1','Главная')      
      +catm('2','Идеи')      
      +catm('3','Образы')      
      li
        a(href="#").category-item
          i.icon-angle-down.trigger-js
          .category-icon
            img(src='assets/img/cat4.svg', alt="")
          |Новинки 
        ul
          mixin subcat(name)
            li 
              a(href="#").category-item=name
          +subcat('Все товары')     
          +subcat('Обувь')     
          +subcat('Обувь')     
          +subcat('Одежда')     
          +subcat('Аксессуары')     
          +subcat('Premium')     
          +subcat('Спорт')     
          +subcat('Красота')     
      +catm('5','Одежда')      
      +catm('6','Обувь')      
      +catm('7','Аксессуары')      
      +catm('8','Premium')      
      +catm('9','Спорт')      
      +catm('10','Красота')      
      +catm('11','Дом')      
      +catm('12','SALE%', 'individual')      
      +catm('13','Все акции')
           
      
      
    .user-links  
      a(href="#") Войти  
    .user-links  
      a(href="#") Статус заказа по номеру  
    .user-links  
      a(href="#") Центр поддержки Lamoda  
    .mobile-menu-location Укажите регион доставки  
      