#popup.popup-card
  .popup-card__window
    .popup-card__col-wrap
      .popup-card__col
        .popup-card__slider 
          .swiper-container.popup-card-slider
            .swiper-wrapper
              mixin cardSlide(img)
                .swiper-slide
                  a(href=`assets/img/cs`+img+`.webp` data-touch='false' data-fancybox='images' data-caption='Barmariska')
                    img(src=`assets/img/cs`+img+`.webp`, alt="")
              +cardSlide('1')    
              +cardSlide('2')    
              +cardSlide('3')    
              +cardSlide('4')    
              +cardSlide('5')    
              +cardSlide('6')    
              +cardSlide('7')
            .popup-card__prev
              i.icon-left-small     
            .popup-card__next  
              i.icon-right-small    
      .popup-card__col
        .popup-card__rating
        a(href="#").title Barmariska
        p.category Свитшот Tie-dye
        .popup-card__price
          .popup-card__price-wrap 
            .fact-price 5 699
            .total 2 621 ₽
            .percent 
              span 54%
            i.icon-angle-down.js-trigger
          .popup-card__price-info
            table 
              tr  
                td Скидка Lamoda  
                td.discount -2 793 ₽
              tr  
                td Вы экономите
                td 2 793 ₽
        .popup-card__dropdown.dropdown 
          .dropdown__selected
            i.icon-angle-down     
            .dropdown__selected-img
              img(src="assets/img/cs1.webp", alt="")
            .dropdown__selected-name Зеленый
            .dropdown__list 
              mixin itemDrop(img, name)
                a(href="#").dropdown__item
                  .dropdown__selected-img
                    img(src=`assets/img/dd`+img+`.webp`, alt="")
                  .dropdown__selected-name=name 
              +itemDrop('1','Фиолетовый')  
              +itemDrop('2', 'Серый')  
              +itemDrop('3', 'Желтый')  
              +itemDrop('4', 'Голубой')  
              +itemDrop('5', 'Белый')  
              +itemDrop('6', 'Серый')  
              +itemDrop('7', 'Красный')

        .popup-card__dropdown.dropdown 
          .dropdown__selected
            i.icon-angle-down     
            .dropdown__placeholder Выберите размер
            .dropdown__list 
              .dropdown__size-info
                span Российский 
                span Производителя
              mixin itemDrop(size, brand)
                a(href="#").dropdown__item
                  .dropdown__size=size
                  .dropdown__brand=brand 
              +itemDrop('42/44 RUS','S INT')  
              +itemDrop('44/46 RUS','M INT')  
              +itemDrop('46/48 RUS','L INT')  
              +itemDrop('48/50 RUS','XL INT')
        a(href="#").underline Таблица размеров 

        .basket-control 
          a(href="#" class="btn") Добавить в корзину
          a(href="#" class="like").like 
            i.icon-heart-empty  

        .about-product
          .title О товаре
          ul  
            mixin aboutProduct(name, desc)
              li=name 
                span=desc  
            +aboutProduct('Состав:', 'Хлопок - 70%, Полиэстер - 25%, Лайкра - 5%')
            +aboutProduct('Размер товара на модели: ', 'S INT')
            +aboutProduct('Параметры модели:', '84-61-88')
            +aboutProduct('Рост модели на фото:', '176')
            +aboutProduct('Длина рукава:', '35')
            +aboutProduct('Сезон:', 'мульти')
            +aboutProduct('Цвет:', 'розовый')
            +aboutProduct('Узор:', 'однотонный')
            +aboutProduct('Карманы:', '2')
            +aboutProduct('Комплектация:', 'свитшот, шорты')
            +aboutProduct('Гарантийный период:', '30 дней')
            +aboutProduct('Страна производства:', 'Россия')
            +aboutProduct('Застежка:', 'шнурки')
            +aboutProduct('Артикул:', 'MP002XW07XFY ')
          a(href="#").underline.more-info Подробнее

    a(href="#").popup-card__more Больше информации о товаре
    


