.container
  .tile__col-wrap
    .tile__col
      .swiper-container.tile__slider
        .swiper-wrapper
          mixin item(img, title, category)
            .swiper-slide
              .tile__item 
                .tile__img
                  a(href="#") 
                    img(src=`assets/img/sl`+img+`.webp` , alt="")
                a(href="#").tile__title 
                  .title=title  
                  .category
                    span=category
                    .tile__slide-more 
                      span.arrow
                      span Купить  
          +item('1', 'В желтой палитре', 'Одежда и аксессуары')
          +item('2', 'Весна-лето 2022', 'Премиум-новинки')
          +item('3', 'Одежда из кожи', 'Гранжевый штрих')
        .tile__slider-control
          .tile__slide-nav
            .tile__slide-next
              i.icon-right-small
            .tile__slide-prev
              i.icon-left-small
              
          .swiper-pagination
    .tile__col
      mixin item(img, title, category)
        .tile__item 
          .tile__img
            a(href="#") 
              img(src=`assets/img/sl`+img+`.webp` , alt="")
          a(href="#").tile__title 
            .title=title  
            .category
              span=category
              .tile__slide-more 
                span.arrow
                span Купить 
      +item('4', 'Кроссовки', 'Новые релизы')
      +item('5', 'Одеваемся по погоде', 'Выгодные предложения')