header.header
  .header__top 
    .container
      .header__top-col-wrap 
        .header__top-col 
          .header__top-item.header__top-item--select
            a(href="#" data-touch='false' data-auto-focus="false" data-fancybox="" data-src="#deliveryRegion") 
              span Укажите регион доставки
              i.icon-angle-down
              
        .header__top-col
          mixin link(icon, title, prompt)
            .header__top-item
              a(href="#")
                i(class=icon)
                span=title
              .header__top-item-prompt
                p=prompt   
                a(href="#").more Подробнее 
          +link('','Бесконтактная доставка  с примеркой','Воспользуйтесь бесконтактной доставкой.')
          +link('icon-credit-card','Платите когда хотите','Lamoda предлагает два варианта оплаты заказа: онлайн-оплата на сайте и в приложении Lamoda при оформлении заказа и оплата при получении заказа.')
          +link('icon-clock','Как мы работаем сейчас','Условия доставки и оплаты не изменились — мы заботимся о том, чтобы вы могли совершать покупки как прежде.')
           
  .header__middle
    .container
      .header__middle-col-wrap 
        .header__middle-col
          .hamburger 
            span
          .search-mobile 
            i.icon-search-1
            span
          .nav-middle
            a(href="#").active Женщинам 
            a(href="#") Мужчинам
            a(href="#") Детям
        .header__middle-col
          a(href="#").header__logo
            img(src="assets/img/logo.svg", alt="") 
        .header__middle-col
          .header__user-nav
            //- a(href="#").login
            //-   i.icon-login
            //-   span Войти
            a(href="#").profile
              i.icon-user-outline
              span Профиль
            a(href="#").favorites
              span Избранное
              i.icon-heart-empty
            a(href="#").basket
              .product-count 0
              i.icon-shopping-bag
              span Корзина
  .mobile-search 
    .search
      .input
        input(type="text" placeholder="Поиск")
        button(type="submit").btn
          i.icon-search-1             
  .header__bottom 
    .container
      .nav-middle.nav-middle--mobile
        a(href="#").active Женщинам
        a(href="#") Мужчинам
        a(href="#") Детям
      .header__bottom-col-wrap 
        .header__bottom-col
          .nav
            .bouncing-ball
            .trigger-list
              span 
            a.active.nav__item(href='#' data-href='#a') Идеи
            a.nav__item(href='#' data-href='#b') Новинки
            a.nav__item(href='#' data-href='#c') Одежда
            a.nav__item(href='#' data-href='#d') Обувь
            a.nav__item(href='#' data-href='#e') Аксессуары
            a.nav__item(href='#' data-href='#f') Бренды
            a.nav__item(href='#' data-href='#g') Premium
            a.nav__item(href='#' data-href='#h') Спорт
            a.nav__item(href='#' data-href='#i') Красота
            a.nav__item(href='#' data-href='#j') Дом
            a.nav__item(href='#' data-href='#k') Sale%

            .nav__hidden-list
                 
        .header__bottom-col
          form
            .search
              .input
                input(type="text" placeholder="Поиск")
                button(type="submit").btn
                  i.icon-search-1

    mixin submenu(id,num)
      .submenu(id=id)
        .container
          .submenu__category-list
            mixin submenuCol
              .submenu__category-col
                a.submenu__category(href='#')=num + `Одежда`
                a.submenu__subcategory(href='#')=num + `Блузы и рубашки`
                a.submenu__subcategory(href='#')=num + `Брюки`
                a.submenu__subcategory(href='#')=num + `Верхняя одежда`
                a.submenu__subcategory(href='#')=num + `Джинсы`
                a.submenu__subcategory(href='#')=num + `Нижнее белье`
                a.submenu__subcategory(href='#')=num + `Пиджаки и костюмы`
                a.submenu__subcategory(href='#')=num + `Платья и сарафаны`
                a.submenu__subcategory(href='#')=num + `Толстовки и свитшоты`
                a.submenu__subcategory(href='#')=num + `Футболки и поло`
                a.submenu__subcategory(href='#')=num + `Юбки`
                a.submenu__subcategory(href='#')=num + `Все категории`
            +submenuCol
            +submenuCol
            +submenuCol
            +submenuCol
    +submenu('a','1')
    +submenu('b','2')
    +submenu('c','3')
    +submenu('d','4')
    +submenu('e','5')
    +submenu('f','6')
    +submenu('g','7')
    +submenu('h','8')
    +submenu('i','9')
    +submenu('j','10')
    +submenu('k','11')


  



