footer.footer
  .container
    .subscription
      .subscription__col
        .subscription__img
          img(src="assets/img/subscription.svg", alt="")
      .subscription__col
        h2 Скидка 10% за подписку <br> на наши новости 
        form(action="")
          .subscription__form
            input(type="text" placeholder="Введите свой email")
            button.btn(type="submit") Подписаться
            //- button.btn.sucses Для нее
            //- button.btn(disabled="disabled") Для него
            //- a(href="#").terms Условия акции
          
    .footer__info
      .footer__col
        h2.title Помощь
        .footer__col-item
          ul
            mixin item(item)
              li.item
                a(href="#")=item 
            +item('Статус заказа по номеру')      
            +item('Центр поддержки Lamoda')      
            +item('Как оформить заказ')      
            +item('Как выбрать размер')      
            +item('Условия доставки')      
            +item('Мои заказы')      
            +item('Возврат')      
            +item('Публичная оферта')      
            +item('Публичная оферта Lamoda Стилист')      
            +item('Программа лояльности')      
            +item('Часто задаваемые вопросы')      
            +item('Исследования')      
      .footer__col
        h2.title О нас
        .footer__col-item
          ul.social
            mixin icon(soc) 
              li 
                a(href="#").item
                  i(class=soc)
            +icon('icon-instagram')
            +icon('icon-youtube-play')
            +icon('icon-vkontakte')
            +icon('icon-facebook')
          ul 
            +item('Fashion-блог Lamoda')      
            +item('Подарочные сертификаты Lamoda')      
            +item('Вакансии')
        h2.title Партнерам
        .footer__col-item      
          ul 
            +item('Подключиться к партнёрской программе "Маркетплейс"')      
            +item('Стать подрядчиком Lamoda')      
            +item('Арендодателям')      
            +item('Подарочные сертификаты для бизнеса')      

      .footer__col
        h2.title Способы оплаты
        .footer__col-item
          ul.footer__icons.footer__icons--pay
            mixin img(img) 
              li 
                a(href="#").item
                  img(src=`assets/img/soc`+img+`.svg`, alt="")
            +img('5')
            +img('6')
            +img('7')
          p Вы можете оплатить покупки наличными <br> при получении, либо выбрать
            a(href="#").underline другой способ оплаты
        
      .footer__col
        h2.title.title--without-arrow Для мобильных устройств
        ul.footer__icons.footer__icons--app
          +img('8')
          +img('9')
          +img('10')
        p Вы также можете перейти на
          a(href="#").underline мобильную  версию сайта.
        

     
    


