.banner-slider {
  a {
    display: flex;

    @include xs {
      flex-direction: column;
    }

    &:hover {
      .banner-slider__col {
        &:first-child {
          &:before {
            opacity: 1;
          }
        }

        h2 {
          color: $sc;
        }
      }
    }
  }

  &__col {
    @include xs {
      max-width: 100% !important;
    }

    &:first-child {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($wc, .4);
        transition: $tr;
        opacity: 0;
      }
    }

    &:last-child {
      max-width: rem(245);
      width: 100%;
      background-color: #f5f5f5;
      padding: rem(24);
      box-sizing: border-box;

      @include lg {
        padding: rem(20);
      }

      @include md {
        padding: rem(18);
      }

      @include sm {
        padding: rem(16);
      }

      h2,
      h3 {
        font-size: $fz24;
        font-weight: 400;
        line-height: rem(32);

        @include lg {
          font-size: rem(20);
          line-height: normal;
        }

        @include md {
          font-size: rem(18);
        }

        @include sm {
          font-size: rem(16);
        }
      }

      h2 {
        color: $bc;
        transition: $tr;
      }

      h3 {
        color: $sc;
      }
    }
  }
}