* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $cf;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: $tr;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}


// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(620px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

.btn {
  background-color: $bl;
  transition: $tr;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  color: $wc;
  box-shadow: 0 2px 8px 0 $bl;
  border-radius: rem(4);
  padding: rem(7) rem(12);
  text-transform: uppercase;
  box-sizing: border-box;

  &:hover {
    background-color: #0060d2;
  }
}

.title {
  font-size: $fz24;
  font-weight: 400;
  margin-bottom: rem(20);
  display: flex;

  @include lg {
    font-size: rem(23);
  }

  @include md {
    font-size: rem(21);
  }

  @include sm {
    font-size: rem(20);
  }

  @include xs {
    font-size: rem(19);
  }
}

.search {

  .input {
    display: flex;

    input {
      border: rem(1) solid $sc;
      border-right: none;
      min-height: rem(30);
      width: 100%;
      padding-left: rem(10);
      width: 100%;
      background-color: $wc;

      &:focus {
        border-color: $bl;
      }
    }

    .btn {
      border-radius: 0 rem(4) rem(4) 0;
      min-height: rem(32);
      padding: 0 rem(20);
      box-shadow: none;

      i {
        color: $wc;
      }
    }
  }
}

.mobile-search {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba($wc, .9);
  z-index: 100;
  padding: 0 rem(15);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: $tr;

  &.--open {
    opacity: 1;
    pointer-events: inherit;
  }
}

.banner {
  background-color: $mc;
  color: $wc;
  font-size: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(165);
  margin-bottom: rem(65);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @include lg {
    min-height: rem(130);
    margin-bottom: rem(60);
  }

  @include md {
    min-height: rem(100);
    margin-bottom: rem(50);
  }

  @include sm {
    min-height: rem(70);
    margin-bottom: rem(40);
  }

  @media (min-width: 500px) and (max-width: 575px) {
    min-height: rem(60);
  }

  @media (min-width: 450px) and (max-width: 500px) {
    min-height: rem(55);
  }

  @media (min-width: 400px) and (max-width: 450px) {
    min-height: rem(50);
  }


  @media (min-width: 320px) and (max-width: 400px) {
    min-height: rem(40);
  }

  @include xs {
    margin-bottom: rem(35);
  }


  &:hover {
    opacity: .5;
  }
}

.underline {
  border-bottom: rem(1) solid $bc;
  transition: $tr;

  &:hover {
    color: $bl;
    border-color: $bl;
  }
}

.breadcrumbs {
  margin-top: rem(30);
  margin-bottom: rem(30);

  @include sm {
    display: none;
  }

  li {
    font-size: $fz13;
    color: $sc;
    position: relative;
    display: inline-block;
    padding-right: rem(15);
    margin-right: rem(5);
    font-weight: 500;

    &:after {
      position: absolute;
      content: '/';
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &:last-child {
      margin: 0;
      padding: 0;

      &:after {
        display: none;
      }

      &:hover {
        cursor: no-drop;
      }

    }

    a {
      font-size: $fz13;
      color: $sc;
      transition: $tr;
      font-weight: 500;

      &:hover {
        color: $bc;
      }
    }
  }
}



.filter {
  &__select {
    border-radius: rem(3);
    border: rem(1) solid $bc;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    background-color: $wc;

    span {
      i {
        font-family: 'fontello';
        font-size: rem(20);
        color: $bc;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    &.selected {
      background-color: $bc;
      color: $wc;

      .icon {
        margin-left: rem(5);
        border-left: rem(1) solid $wc;

        i {
          color: $wc;
        }
      }
    }

    * {
      font-size: $fz13;
      font-weight: 600;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(8);
  }

  &__dropdown {
    background-color: $wc;
    position: absolute;
    top: calc(80%);
    box-shadow: 0 rem(2) rem(8) rgba($bc, .25);
    width: auto;
    z-index: 1;
    padding: rem(10);
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
    transition: $tr;

    &:before {
      position: absolute;
      content: '';
      width: rem(12);
      height: rem(12);
      background-color: $wc;
      border-left: rem(1) solid #e5e5e5;
      border-top: rem(1) solid #e5e5e5;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      top: rem(-7);
    }

    &.--open {
      top: calc(100% + 20px);
      opacity: 1;
      pointer-events: inherit;
    }

    &--wide {
      min-width: rem(870);
      width: 100%;

      .filter__dropdown-col {
        width: 25%;
      }
    }

    &--narrow {
      min-width: rem(230);

      .filter__dropdown-col {
        width: 100%;
      }

      .input {
        width: 100%;
        max-width: 100%;
        border: rem(1) solid $sc;
        height: rem(30);
        border-radius: rem(3);
        margin: rem(10) 0 rem(15);
        padding-left: rem(10);
        color: $sc;
        font-weight: 400;
        box-sizing: border-box;
        display: flex;

        &:focus {
          box-shadow: 0 rem(2) rem(8) rgba($bl, .5);
          border-color: $bl;
        }
      }

      .select-all {
        color: $sc;
        border-bottom: rem(1) solid $sc;
        transition: $tr;
        margin-bottom: rem(10);
        display: inline-block;
        font-weight: 400;

        &:hover {
          color: $bc;
          border-color: $bc;
        }
      }
    }
  }

  &__dropdown-col-wrap {
    display: flex;
    height: rem(340);
    overflow-y: auto;
    padding-right: rem(10);

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: rgba($sc, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bl;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }
  }

  &__dropdown-col {
    padding-right: rem(20);

    &:last-child {
      padding-right: 0;
    }
  }

  &__dropdown-title {
    color: $bc;
    margin-bottom: rem(15);
  }

  &__list-check {
    input {
      display: none;

      &:checked+label {
        &:before {
          opacity: 1;
        }
      }
    }

    label {
      white-space: nowrap;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      padding-left: rem(15);
      display: block;

      &:before {
        position: absolute;
        content: '';
        font-family: 'fontello';
        left: rem(-4);
        color: $bl;
        transition: $tr;
        opacity: 0;
        font-size: rem(16);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__list-item {
    margin-bottom: rem(5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dropdown-bottom {
    padding: rem(10) rem(5) 0;
    border-top: rem(1) solid #e5e5e5;
    display: flex;
    justify-content: flex-end;

    .btn {
      padding: rem(5) rem(15);
      font-size: rem(13);
      font-weight: 400;
    }
  }

  &__dropdown-price {
    display: flex;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      cursor: pointer;
      font-weight: 400;
    }

    .input {
      margin-left: rem(10);
    }

    &:first-child {
      margin-right: rem(10);
    }
  }
}

.responsive-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($bc, .8);
  display: flex;
  align-items: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: $tr;

  .input {
    width: 100%;
    max-width: 100%;
    border: rem(1) solid $sc;
    height: rem(30);
    border-radius: rem(3);
    margin: rem(10) 0 rem(15);
    padding-left: rem(10);
    color: $sc;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;

    &:focus {
      box-shadow: 0 rem(2) rem(8) rgba($bl, .5);
      border-color: $bl;
    }
  }

  .select-all {
    color: $sc;
    border-bottom: rem(1) solid $sc;
    transition: $tr;
    margin-bottom: rem(10);
    display: inline-block;
    font-weight: 400;

    &:hover {
      color: $bc;
      border-color: $bc;
    }
  }

  .filter__price {
    label {
      margin-right: rem(10);
    }
  }

  .btn {
    font-size: rem(10);
    margin: auto;
  }

  &.--open {
    opacity: 1;
    pointer-events: inherit;
  }

  &__window {
    border-radius: rem(10) rem(10) 0 0;
    background-color: $wc;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    transition: $tr;

    &.--open {
      bottom: 0;
    }

    &.transform {
      transform: translateX(-50%) scale(.87);
      bottom: rem(55);
      opacity: .4;
      pointer-events: none;
    }
  }

  &__header {
    padding: rem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      margin: 0;
    }

    i {
      width: rem(30);
      height: rem(30);
      font-size: rem(25);
      cursor: pointer;
    }
  }

  &__wrapper {
    padding: rem(15);
    overflow-y: auto;
    height: 78%;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: rgba($sc, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bl;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }
  }

  &__list-check {
    display: block;
    height: 100%;

    .responsive-filter__item {
      position: relative;

      input {
        display: none;

        &:checked+label {
          &:before {
            opacity: 1;
          }

          &:after {
            background-color: $bl;
            border-color: $bl;
          }
        }
      }

      label {
        display: block;

        &:after,
        &:before {
          position: absolute;
          content: '';
          border-radius: 100%;
          top: 50%;
          transform: translateY(-50%);
          transition: $tr;
        }

        &:before {
          width: rem(6);
          height: rem(6);
          background-color: $wc;
          right: rem(20);
          z-index: 1;
          opacity: 0;
        }

        &:after {
          max-width: rem(14);
          width: 100%;
          height: rem(14);
          border: rem(1) solid $sc;
          right: rem(15);
        }
      }
    }
  }

  &__item {
    border-bottom: rem(1) solid #e5e5e5;
    color: $bc;
    padding: rem(10) 0;
    display: block;

    &--check-box {

      .check-box__wrap {
        justify-content: space-between;

        input {
          &:checked+label {

            &:after {
              background-color: transparent;
            }
          }
        }

        label {
          justify-content: flex-start;
          display: flex !important;

          &:before {
            content: '';
            font-family: 'fontello';
            border-radius: 0;
            background-color: transparent;
            color: $bl;
            width: rem(8);
            height: rem(12);
          }

          &:after {
            border-radius: 0;
          }

          span {
            margin-left: rem(15);
          }
        }
      }
    }
  }
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(5) 0;

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input {
    cursor: pointer;
  }

  label {
    color: $bc;
    transition: $tr;
    font-weight: 400;
    cursor: pointer;
    margin-left: rem(8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: rem(13);

    &:hover {
      color: $sc;
    }

    div {
      display: flex;
      font-weight: 400;

      .color {
        margin-right: rem(15);
      }
    }
  }

  span {
    color: $sc;
    font-weight: 400;
    font-size: rem(10);
    display: flex;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  margin-top: rem(60);

  a {
    width: rem(40);
    height: rem(40);
    transition: $tr;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(3);
    color: $bc;
    margin-right: rem(5);

    &.active {
      background-color: #f5f5f5;
    }

    &:hover {
      background-color: #f5f5f5;
    }

    &.prev,
    &.next {
      width: auto;
      padding: 0 rem(15);

      @include sm {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: none;
        }

        i {
          margin: 0 !important;
        }
      }
    }

    &.prev {
      i {
        margin-right: rem(10);
      }
    }

    &.next {
      margin-right: 0;

      i {
        margin-left: rem(10);
      }
    }
  }
}

.dropdown {
  margin-bottom: rem(15);
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    border: rem(1) solid $sc;
    border-radius: rem(3);
    padding: rem(8) rem(14);
    position: relative;
    cursor: pointer;
    transition: $tr;
    max-height: rem(56);
    min-height: rem(56);
    box-sizing: border-box;
    background-color: $wc;

    i {
      position: absolute;
      top: 50%;
      right: rem(14);
      transform: translateY(-50%);
      font-size: rem(20);
    }

    &.focus {
      box-shadow: 0 0 rem(4) 0 $bl;
      border-color: $bl;
    }
  }

  &__selected-img {
    max-width: rem(30);
    width: 100%;
    margin-right: rem(7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__selected-name {
    color: $bc;
  }

  &__list {
    border: rem(1) solid #e5e5e5;
    border-top: none;
    overflow-y: auto;
    max-height: rem(200);
    display: none;
    padding: rem(5) 0;
    position: absolute;
    background-color: $wc;
    z-index: 2;
    top: calc(100% + 2px);
    left: -1px;
    right: 0;
    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: rgba($sc, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bl;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: rem(8) rem(14);
    transition: $tr;

    &:hover {
      background-color: #e9f4ff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__placeholder {
    color: $sc;
    font-size: rem(13);
  }

  &__size-info {
    background-color: $wc;
    border-bottom: rem(1) solid #e5e5e5;
    padding-bottom: rem(5);

    span {
      display: inline-block;
      width: 50%;
      font-size: $fz13;
      box-sizing: border-box;

      &:first-child {
        padding-left: rem(14);
      }
    }
  }

  &__size,
  &__brand {
    font-size: rem(13);
    color: $bc;
    width: 50%;
  }
}

.come-back {
  align-items: center;
  justify-content: center;
  margin-right: rem(10);
  width: rem(30);
  height: rem(30);
  display: none;
  cursor: pointer;
  margin-left: rem(-6);

  @include sm {
    display: inline-flex;
  }
}

.individual {
  text-transform: uppercase;
  color: $mc !important;
}

.discount-offer {
  background-color: $mc;
  padding: rem(10) rem(15);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(50);
  box-sizing: border-box;
  margin-top: rem(7);

  p {
    color: $wc;
    font-size: rem(14);
  }

  a {
    border: rem(1) solid $wc;
    color: $wc;
    text-transform: uppercase;
    font-size: rem(14);
    max-width: rem(150);
    width: 100%;
    min-height: rem(30);
    transition: $tr;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: rem(20);

    &:hover {
      background-color: $wc;
      color: $mc;
    }
  }
}


.social {
  display: flex;
  align-items: center;
  margin-bottom: rem(10);

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(25);
    width: 100%;
    min-height: rem(25);
    margin-right: rem(8);

    i {
      color: $sc;
      transition: $tr;

      &:hover {
        color: $bc;
      }
    }
  }
}