.card {
  margin-top: rem(60);
  position: relative;

  @include md {
    margin-top: rem(50);
  }

  @include sm {
    margin-top: rem(40);
  }

  @include sm {
    margin-top: rem(35);
  }

  .swiper-wrapper {
    padding: 0 rem(3) rem(60);

    @include md {
      padding: 0 rem(3) rem(50);
    }

    @include sm {
      padding: 0 rem(3) rem(40);
    }

    @include sm {
      padding: 0 rem(3) rem(35);
    }
  }

  &__item {

    &:hover {
      .card__item-info-block {
        box-shadow: 1px 0 8px 0 rgba($bc, .16%);
      }

      .card__item-sizes,
      .detail {
        opacity: 1;
        pointer-events: inherit !important;
      }
    }
  }

  &__img-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    @include xs {
      display: none;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 0;
    }
  }

  &__img-item {
    border-top: rem(3) solid rgba($sc, .4);
    margin-right: rem(3);
    width: 100%;
    z-index: 1;

    &:first-child {
      margin-left: rem(3);
    }

    &:hover {
      border-color: $sc;
    }

    &:hover+img {
      display: block;
    }
  }

  &__item-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__popup-link {
    @include sm {
      display: none;
    }
  }

  &__mobile-link {
    display: none;

    @include sm {
      display: block;
    }
  }

  &__like {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(32);
    width: 100%;
    min-height: rem(32);
    position: absolute;
    transition: $tr;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;

    i {
      color: $bc;
      font-size: rem(20);
    }

    &:hover {
      animation: heartbeat .5s infinite;

      i {
        color: $mc;
      }


      @keyframes heartbeat {
        20% {
          transform: scale(.9);
        }

        40% {
          transform: scale(1);
        }
      }
    }

    &.liked {
      i {
        color: $mc;
      }
    }
  }

  &__stock,
  &__new,
  &__premium {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $wc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(5);
    left: rem(-2);
    overflow: hidden;
    div {
      transform: skew(-20deg);
      padding-left: rem(15);
      padding-right: rem(10);
      margin-left: rem(-15);

      span {
        transform: skew(20deg);
        display: block;
        color: $wc;
        font-size: $fz13;
      }
    }
  }

  &__stock {
    div {
      background-color: $mc;
    }
  }

  &__new {
    div {
      background-color: $bl;
    }
  }

  &__premium {
    div {
      background-color: $bc;
    }
  }

  &__item-info-block {
    padding: rem(10);
    background-color: $wc;
  }

  &__item-price,
  &__item-name,
  &__item-category {
    font-size: $fz13;
    margin-bottom: rem(1);
  }

  &__item-price {
    .percent {
      text-decoration: line-through;
      margin-right: rem(5);
    }

    .total {
      color: $mc;
    }
  }

  &__item-name {
    color: $bc;
  }

  &__item-category {
    color: $sc;
  }

  &__item-sizes {
    margin-top: rem(5);
    opacity: 0;
    pointer-events: none;
    transition: $tr;

    a {
      color: $sc;
      font-size: rem(13);
      margin-right: rem(3);

      &:hover {
        color: $bc;
      }
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: rem(27);
    color: $bc;
    transition: $tr;

    @include lg {
      font-size: rem(24);
    }

    @include md {
      font-size: rem(20);
    }

    @include sm {
      font-size: rem(18);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    max-width: rem(55);
    width: 100%;
    height: rem(55);
    border-radius: 100%;
    background-color: $wc;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    transition: $tr;
    margin-top: rem(-60);

    @include lg {
      max-width: rem(45);
      height: rem(45);
    }

    @include md {
      max-width: rem(40);
      height: rem(40);
    }

    @include sm {
      max-width: rem(35);
      height: rem(35);
    }

    &.swiper-button-disabled {
      display: none;
    }

    &:hover {
      background-color: $bl;

      &:after {
        color: $wc;
      }
    }
  }

  .swiper-button-prev {
    left: -20px;

    @media(max-width: 1300px) {
      left: -5px;
    }

    @include sm {
      left: 0;
    }
  }

  .swiper-button-next {
    right: -20px;

    @media(max-width: 1300px) {
      right: -5px;
    }

    @include sm {
      right: 0;
    }
  }

  &--catalog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;

    @include xs {
      justify-content: space-between;
    }

    .card__item {
      width: calc(25% - 9px);
      padding-right: rem(12);
      margin-bottom: rem(20);
      position: relative;

      @include md {
        width: calc(33% - 7px);
      }

      @include xs {
        width: calc(50% - 2px);
        padding: 0 !important;

      }

      &:nth-child(2n) {
        @include xs {
          padding-right: 0 !important;
        }
      }

      &:nth-child(3n) {
        @include md {
          padding-right: 0 !important;
        }

        @include sm {
          padding-right: 0 !important;
        }
      }

      &:nth-child(4n) {
        padding-right: 0;

        @include md {
          padding-right: rem(12);
        }

        @include xs {
          margin-right: 0;
        }
      }

      &:hover {
        .detail {
          opacity: 1;
        }
      }

      .detail {
        display: block;
        text-align: center;
        color: $sc;
        margin-top: rem(10);
        transition: $tr;
        opacity: 0;
        pointer-events: none;

        &:hover {
          color: $bl;
        }
      }

      &:hover {
        .card__item-bottom {
          opacity: 1;
        }
      }
    }

    .card__item-info-block {
      position: relative;
    }

    .card__item-bottom {
      width: 100%;
      left: 0;
      padding: 0 rem(10) rem(10);
      position: absolute;
      background-color: $wc;
      box-shadow: 1px 10px 8px 0 rgba($bc, .16%);
      box-sizing: border-box;
      opacity: 0;
      z-index: 2;

      @include xs {
        position: relative;
        opacity: 1;
        box-shadow: none;
        left: auto;
        padding: 0;

        .card__item-sizes {
          opacity: 1;
        }

        .detail {
          display: none;
        }
      }
    }
  }
}


.pay__method-wrap,
.pay__method-item {
  align-items: center;
  display: flex;
}

.pay__method-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}