.catalog {
  overflow: hidden;

  &__col-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    &:first-child {
      width: calc(16% - 10px);

      @include lg {
        width: calc(20% - 10px);
      }

      @include md {
        width: calc(30% - 10px);
      }

      @include sm {
        display: none;
      }
    }

    &:last-child {
      width: calc(84% - 10px);

      @include lg {
        width: calc(80% - 10px);
      }

      @include md {
        width: calc(70% - 10px);
      }

      @include sm {
        width: 100%;
      }
    }
  }

  &__sidebar {
    position: sticky;
    top: 0;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    z-index: 3;
    padding: rem(6) 0 0 0;
    top: 0;
    background-color: $wc;
    padding-bottom: rem(10);

    @include sm {
      align-items: center;
      justify-content: space-between;
    }

    .mobile-sidebar-category {
      display: none;

      @include sm {
        display: block;
      }

      .current-category {
        padding-left: rem(25);
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          top: rem(2);
          font-size: rem(25);
          left: rem(-5);
          position: absolute;
          transition: $tr;
        }

        &.--open {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }

    .mobile-category-list {
      display: none;
      position: absolute;
      width: 100%;
      background-color: $wc;
      top: 100%;
      box-shadow: 0 2px 4px 0 rgba($bc, .1);

      a {
        padding: rem(10) rem(15);
        border-top: rem(1) solid #e5e5e5;
        display: block;
        color: $bc;
      }
    }

    &__mobile-trigger {
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: none;

      @include sm {
        display: flex;
      }

    }

    &__select {
      margin-right: rem(8);

      @include sm {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__select {
      margin-bottom: rem(10);
    }
  }


  &__dropdown {
    ul {
      li {
        margin-bottom: rem(10);

        ul {
          display: none;

          li {
            margin: 0;

            a {
              font-weight: 400;
              text-transform: none;
            }

            ul {
              margin-left: rem(15);
              display: none;

              li {
                a {
                  font-weight: 400;
                  text-transform: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &__item {
    padding: rem(6) rem(25) rem(6) rem(7);
    transition: $tr;
    border-radius: rem(4);
    position: relative;

    i {
      position: absolute;
      content: '';
      font-family: 'fontello';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(20);
      width: rem(35);
      height: rem(30);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgba($sc, .6);
      transition: $tr;
      opacity: 0;

      &:hover {
        color: $bc;
      }

      &.--open {
        transform: translateY(-50%) rotate(-180deg);
        opacity: 1;
      }
    }

    a {
      color: $bc;
      font-weight: 600;
      text-transform: uppercase;
      transition: $tr;
      font-size: $fz13;
      margin-right: rem(5);

      @include sm {
        font-size: rem(9);
      }
    }

    span {
      font-size: rem(9);
      color: $sc;
      cursor: default;
    }

    &:hover {
      background-color: rgba($sc, .2);

      i {
        opacity: 1;
      }
    }
  }
}