.category-slider {
  position: relative;

  .swiper-wrapper {
    padding: rem(60) 0 rem(80);

    @include lg {
      padding: rem(45) 0 rem(65);
    }

    @include md {
      padding: rem(35) 0 rem(55);
    }

    @include sm {
      padding: rem(25) 0 rem(45);
    }

    @include xs {
      padding: rem(35) 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      .category-slider__item-img {
        opacity: .5;
        transform: scale(1.2);
      }

      .category-slider__item-name {
        color: $sc;
      }
    }
  }

  &__item-img {
    max-width: rem(80);
    border-radius: 100%;
    margin-bottom: rem(5);
    transition: $tr;
  }

  &__item-name {
    font-size: $fz13;
    color: $bc;
    transition: $tr;
    text-align: center;
  }

  .side-glow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100px;
    z-index: 9;

    &.left {
      left: 0;
      background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), $wc);
    }

    &.right {
      right: 0;
      background-image: linear-gradient(270deg, $wc, #ffffff00);
    }
  }

}