.footer {
  flex: 0 0 auto;
  border-top: rem(1) solid #E5E5E5;
  margin-top: rem(65);
  padding-bottom: rem(40);

  @include lg {
    margin-top: rem(55);
  }

  @include md {
    margin-top: rem(45);
  }

  @include sm {
    margin-top: rem(35);
    padding-bottom: rem(20);
  }


  .subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(70) 0;

    @include lg {
      padding: rem(60) 0;
    }

    @include md {
      padding: rem(50) 0;
    }

    @include sm {
      flex-direction: column;
      padding: rem(40) 0;
    }

    @include xs {
      padding: rem(35) 0;
    }

    &__col {
      @include xs {
        max-width: 100%;
      }

      &:first-child {
        margin-right: rem(30);

        @include xs {
          margin-right: 0;
          display: flex;
          align-items: center;
        }
      }

      h2 {
        font-size: $fz24;
        font-weight: 400;
        margin-bottom: rem(10);
      }

      input {
        border: rem(1) solid $sc;
        min-width: rem(285);
        width: 100%;
        min-height: rem(30);
        padding-left: rem(10);
        margin-right: rem(5);
        box-sizing: border-box;

        @include xs {
          margin-right: 0;
          margin-bottom: rem(10);
          width: 100%;
          max-width: 100%;
          min-width: auto;
        }
      }

      .btn {
        padding: 0 rem(16);
        border-radius: rem(4);
        min-height: rem(30);
        margin-right: rem(8);

        @include xs {
          max-width: 100%;
        }

        &:last-child {
          margin-right: 0;
        }

        &.sucses {
          background-color: $bl;
          color: $wc;
          cursor: pointer;
          transition: $tr;

          &:hover {
            background-color: #0060d2;
          }
        }

        &.btn[disabled] {
          background-color: #e5e5e5;
          color: $sc;
          pointer-events: none;
          box-shadow: none;
        }
      }
    }

    &__img {
      max-width: rem(120);
      width: 100%;
    }

    &__form {
      display: flex;
      position: relative;


      @include xs {
        flex-direction: column;
      }

      .terms {
        position: absolute;
        bottom: 0;
        font-size: $fz13;
        display: inline-block;
        padding-bottom: rem(3);

        &:hover {
          color: $sc;

          &:after {
            width: 0;
          }
        }

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $bc;
          transition: $tr;
        }
      }
    }
  }

  &__info {
    display: flex;

    @include lg {
      flex-wrap: wrap;
    }

    p {
      font-size: $fz13;

      a {
        margin: 0 rem(4);
        color: $bc;

        &:hover {
          color: $bl;
          border-color: $bl;
        }
      }
    }
  }

  &__col {
    width: 25%;

    @include lg {
      width: 40%;
      margin-bottom: rem(20);
    }

    @include xs {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__col-item {
    @include xs {
      display: none;
    }
  }

  .title {
    font-size: $fz13;
    font-weight: 700;
    margin-bottom: rem(12);
    position: relative;
    cursor: pointer;

    @include xs {
      font-size: rem(20);
      position: relative;
      font-weight: 400;
    }

    &:after {
      position: absolute;
      content: '';
      right: rem(10);
      font-family: 'fontello';
      display: none;
      top: 50%;
      transform: translateY(-50%);

      @include xs {
        display: block;
      }
    }

    &--without-arrow {
      cursor: default;

      @include xs {
        margin-top: rem(20);
        margin-bottom: rem(20);
      }

      &:after {
        display: none;
        transition: $tr;
      }
    }

    &.--open {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  ul {
    margin-bottom: rem(15);
  }

  .item {
    margin-bottom: rem(7);

    a {
      color: $bc;
      transition: $tr;
      font-size: $fz13;

      &:hover {
        color: $sc;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-bottom: rem(10);

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: rem(25);
      width: 100%;
      min-height: rem(25);
      margin-right: rem(8);

      i {
        color: $sc;
        transition: $tr;

        &:hover {
          color: $bc;
        }
      }
    }

    &--pay {
      .item {
        max-width: rem(40);
      }
    }

    &--app {
      flex-direction: column;
      align-items: flex-start;

      @include xs {
        flex-direction: row;
      }

      .item {
        max-width: rem(85);
        margin-bottom: rem(10) !important;
      }
    }
  }
}