.header {
  @include sm {
    margin-bottom: rem(30);
  }

  &__top {
    background-color: $bc;

    @include sm {
      display: none;
    }

    // @include sm {
    //   width: 100%;
    //   height: 100%;
    //   position: fixed;
    //   top: -100%;
    //   z-index: 99;
    //   background-color: rgba($bc, .8);
    //   transition: $tr;
    //   opacity: 0;

    //   .container {
    //     height: 100%;
    //   }
    // }

    * {
      color: $wc;
    }

    .container {
      @include md {
        max-width: 100%;
        padding: 0;
      }
    }
  }


  &__top-col-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @include sm {
    //   flex-direction: column;
    //   height: 100%;
    //   justify-content: center;
    //   align-items: flex-start;
    // }
  }

  &__top-col {
    &:last-child {
      display: flex;
      align-items: center;

      // @include sm {
      //   flex-direction: column;
      //   align-items: flex-start;
      // }
    }
  }

  &__top-item {
    position: relative;
    text-align: left;

    &:hover {
      background-color: $bl;

      // @include sm {
      //   background-color: transparent;
      // }
    }

    &:hover {
      .header__top-item-prompt {
        opacity: 1;
        pointer-events: inherit;
      }
    }

    a {
      min-height: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $tr;
      padding: 0 rem(15);

      @include md {
        padding: 0 rem(10);
      }

      // @include sm {
      //   padding: 0;
      //   background-color: transparent;
      //   min-height: rem(50);
      // }

      i {
        margin-right: rem(5);

        // @include sm {
        //   display: none;
        // }
      }
    }

    span {
      font-size: $fz13;
      transition: $tr;

      @include md {
        font-size: rem(11);
      }

      // @include md {
      //   font-size: rem(20);

      //   &:hover {
      //     color: $bl;
      //   }
      // }
    }
  }

  &__top-item-prompt {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $wc;
    box-shadow: 0 2px 8px 0 rgba($bc, .16%);
    padding: rem(20) rem(27);
    width: rem(270);
    opacity: 0;
    pointer-events: none;
    transition: $tr;
    box-sizing: border-box;
    z-index: 1;

    p {
      font-size: $fz13;
      color: $bc !important;
      margin-bottom: rem(10);
      line-height: 16px;
    }

    a {
      color: $bl;
      font-size: $fz13;
      min-height: auto;
      display: inline-block;
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(30) 0 rem(45);

    @include sm {
      padding: rem(20) 0 rem(30);
    }
  }

  &__bottom {
    .submenu {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $wc;
      box-shadow: 0 10px 8px 0 rgba($bc, .2);
      z-index: 9;
      padding: rem(35) 0;
      display: none;

      &.show {
        display: block;
      }

      &__category-col {
        a {
          display: block;
          color: $bc;
          transition: $tr;
          font-size: 13px;

          &:hover {
            color: $sc;
          }
        }
      }

      &__category {
        margin-bottom: 10px;
        font-weight: 600;
      }

      &__subcategory {
        margin-bottom: 6px;
      }

      &__category-list {
        display: flex;
      }

      &__category-col {
        width: 25%;
      }
    }
  }


  &__middle-col-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__middle-col {
    display: flex;

    &:nth-child(1) {
      width: 40%;
    }

    &:nth-child(2) {
      width: 20%;
      justify-content: center;
    }

    &:nth-child(3) {
      width: 40%;
      justify-content: flex-end;
    }
  }

  &__logo {
    max-width: rem(160px);
    min-width: rem(70px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__user-nav {
    display: inline-flex;
    align-items: flex-end;

    .login,
    .profile,
    .favorites {
      color: $sc;
      margin-right: rem(10);


      i {
        display: none;

        @include sm {
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }

      &:hover {
        color: $bc;
      }

      span {
        @include sm {
          display: none;
        }
      }
    }

    .basket {
      color: $bc;
      display: flex;
      align-items: flex-end;

      i {
        color: $sc;
        transition: $tr;
        margin-right: rem(5);
        justify-content: flex-end;
        margin-bottom: 4px;

        @include sm {
          margin: 0;
        }
      }

      &:hover {
        i {
          color: $bc;
        }

        span {
          color: $bc;
        }
      }

      span {
        @include sm {
          display: none;
        }
      }

      .product-count {
        max-width: rem(20);
        width: 100%;
        height: rem(20);
        background-color: $mc;
        color: $wc;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: rem(10);
        top: rem(-10);
        margin-left: rem(10);
      }
    }
  }

  &__bottom-col-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .nav {
      position: relative;
      display: flex;
      height: 100%;

      a {
        color: $sc;
        margin-right: 6px;
        display: flex;
        align-items: center;

        &:hover {
          color: $bc;
        }

        &.active {
          color: $bc;
        }

      }

      &__hidden-list {
        display: none;
        position: absolute;
        left: calc(100% + 30px);
        bottom: 0;
        z-index: 999;
        background-color: $wc;
        min-width: rem(200);
        box-shadow: 0 2px 8px 0 rgba($bc, .2);
        height: rem(170);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background-color: rgba($sc, .3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: $bl;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #253861;
        }

        a {
          padding: 0 rem(10);
          min-height: 30px;
          display: flex;
          align-items: center;
          margin: 0;

          &:hover {
            background-color: rgba($bl, .2);
          }
        }
      }

      .trigger-list {
        position: absolute;
        left: 100%;
        width: rem(24);
        height: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        margin-top: rem(2);

        &:before,
        &:after {
          position: absolute;
          content: '';
        }

        &:before {
          left: 0;
          animation: blink1 1s infinite;
          animation-delay: .5s;
        }

        span {
          animation: blink2 1s infinite;
          animation-delay: .7s;
        }

        &:after {
          right: 0;
          animation: blink3 1s infinite;
          animation-delay: .9s;
        }


        &:before,
        &:after,
        span {
          width: rem(5);
          height: rem(5);
          background-color: $sc;
          border-radius: 100%;
          transition: $tr;
        }

        @keyframes blink1 {
          0% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }

        }

        @keyframes blink2 {
          0% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }

        }

        @keyframes blink3 {
          0% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }

        }

        &:hover {

          &:before,
          &:after,
          span {
            background-color: $bl;
          }
        }

      }

      .bouncing-ball {
        position: absolute;
        animation: bounce 7s infinite;
        width: rem(8);
        height: rem(8);
        border-radius: 100%;
        background-color: $bc;
        right: calc(100% + 3px);

        @keyframes bounce {
          0% {
            top: rem(-10);
            opacity: 0;
            background-color: #a5825f;
          }

          25% {
            top: rem(5);
            opacity: 1;
            background-color: #a5825f;
          }

          50% {
            top: rem(5);
            opacity: 1;
            background-color: #a5d2a0;
          }

          75% {
            top: rem(-5);
            opacity: 0;
            background-color: #a5d2a0;
          }

          100% {
            top: rem(-5);
            opacity: 0;
          }
        }
      }

    }
  }

  &__bottom-col {

    @include sm {
      display: none;
    }

    &:last-child {
      max-width: rem(300);
      width: 100%;
    }
  }
}

.hamburger {
  width: rem(25);
  height: rem(17);
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  margin-top: rem(2);

  @include sm {
    display: flex;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:before,
  &:after,
  span {
    height: 1px;
    width: 100%;
    background-color: $sc;
    transition: $tr;
  }

  &:hover {

    &:before,
    &:after,
    span {
      background-color: $bc;
    }
  }
}

.search-mobile {
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  display: none;

  @include sm {
    display: flex;
  }

  &:hover {
    i {
      color: $bc;
    }
  }

  i {
    font-size: rem(17);
    color: $sc;
  }
}

.nav-middle {
  @include sm {
    display: none;
  }

  &--mobile {
    display: none;

    @include sm {
      display: block;
    }
  }

  a {
    color: $sc;
    margin-right: rem(17);
    padding-bottom: rem(4);

    @include xs {
      margin-right: rem(10);
    }

    &:hover {
      color: $bc;
    }

    &.active {
      color: $bc;
      border-bottom: rem(2) solid $bc;
    }
  }
}