.items-links {
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: rem(25);


    &--scroll {
      @include xs {
        width: 100%;
        overflow-x: scroll;
        display: block;
        white-space: nowrap;
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-thumb {
        width: 0;
      }

      .link-item {
        width: calc(33.33% - 16px);
        padding: 0 rem(24);

        @include lg {
          width: calc(33.33% - 10px);
          padding: 0 rem(15);
        }

        @include xs {
          width: 40%;
          display: inline-block;
          white-space: normal;
          vertical-align: top;
        }


        &:nth-child(1n) {
          padding-left: 0;
        }

        &:nth-child(3n) {
          padding-right: 0;
        }
      }
    }

    &--breaking-col {
      .link-item {
        width: calc(25% - 18px);
        padding: 0 rem(24);

        &:nth-child(1n) {
          padding-left: 0;
        }

        &:nth-child(4n) {
          padding-right: 0;
        }

        @include lg {
          width: calc(25% - 12px);
          padding: 0 rem(15.6);
        }

        @include md {
          width: calc(50% - 10px);
          margin-bottom: rem(30);

          &:nth-child(1n) {
            padding-right: rem(20);
          }

          &:nth-child(2n) {
            padding-right: 0;
          }
        }
      }
    }
  }

  .link-item {
    position: relative;
    margin-bottom: rem(25);

    @include sm {
      margin-bottom: rem(20);
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      .link-item__title {
        color: $sc;
      }

      .link-item__img {
        &:after {
          opacity: 1;
        }
      }
    }

    &__img {
      position: relative;
      transition: $tr;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(10);

      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($wc, .5);
        opacity: 0;
        transition: $tr;
      }
    }

    &__title,
    &__category {

      transition: $tr;
      font-size: $fz24;
      margin-bottom: rem(5);

      @include lg {
        font-size: rem(20);
      }

      @include md {
        font-size: rem(18);
      }

      @include sm {
        font-size: rem(16);
      }
    }

    &__title {
      color: $bc;
    }

    &__category {
      color: $sc;
    }

    &--reduced {
      @include md {
        width: calc(50% - 10px);
        padding: 0;
      }

      .link-item__title,
      .link-item__category {
        font-size: rem(16);
      }
    }
  }
}