.mobile-menu-wrap {
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 1;
  opacity: 0;
  pointer-events: none;
  position: fixed;


  .mobile-menu {
    background-color: $wc;
    width: calc(100% - 40px);
    left: 0;
    left: -100%;
    transition-delay: .3s;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    overflow-y: auto;

    &.--open {
      left: 0;
    }
  }

  &.--show {
    opacity: 1;
    pointer-events: inherit;
  }

  .nav-middle {
    display: flex;
    padding: rem(15);
  }

  .user-links {
    padding: rem(15);
    border-bottom: rem(1) solid $sc;

    a {
      color: $bc;
    }
  }

  .mobile-menu-location {
    padding: rem(15);
    color: $bc;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: rem(7);
      height: rem(7);
      border-radius: 100%;
      background: $mc;
      transition: $tr;
      left: rem(4);
      top: 50%;
      transform: translateY(-50%);
      animation: blink .5s infinite alternate;
    }

    @keyframes blink {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .categories-menu {
    padding: rem(15) 0 rem(15) rem(15);
    border-bottom: rem(1) solid $sc;
    position: relative;

    li {
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        margin: rem(10) 0 rem(10) rem(60);
        display: none;
      }
    }

    .category-item {
      display: inline-flex;
      align-items: center;
      color: $bc;
      position: relative;

      i {
        left: 100%;
        position: absolute;
        width: rem(30);
        height: rem(30);
        transition: $tr;
        &.--open {
          transform: rotate(180deg);
        }
      }
    }

    .category-icon {
      display: flex;
      align-items: center;
      max-width: rem(32);
      width: 100%;
      height: rem(32);
      margin-right: rem(12);
    }
  }
}

.mobile-menu-wrap,
.mobile-menu {
  top: 0;
  bottom: 0;
  height: 100%;
  transition: $tr;
}

.mobile-menu-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($bc, .5);
  z-index: -1;
}