.popup-card {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bc, .7);
  z-index: 9999999;
  overflow: hidden;
  display: none;

  &__window {
    max-width: rem(754);
    width: 100%;
    height: rem(600);
    background-color: $wc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__col-wrap {
    display: flex;
    overflow: hidden;
    height: 100%;
  }

  &__col {
    &:first-child {
      width: 55%;

      a {
        cursor: zoom-in;
      }
    }

    &:last-child {
      width: 45%;
      padding: rem(25) rem(60) 0 rem(20);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: rgba($sc, .3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $bl;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #253861;
      }
    }

    .title,
    .category {
      color: $bc;
    }

    .title {
      margin-bottom: rem(12);
      display: block;
      transition: $tr;

      &:hover {
        color: $sc;
      }
    }

    .category {
      font-size: $fz13;
    }
  }

  &__price {
    margin-top: rem(12);
    margin-bottom: rem(15);
    display: flex;
    flex-direction: column;
    position: relative;

    i {
      position: absolute;
      right: 0;
      font-size: rem(20);
      cursor: pointer;
      width: rem(20);
      height: rem(20);
      cursor: pointer;
      transition: $tr;

      &:hover {
        color: $mc;
      }
    }
  }

  &__price-wrap {
    display: flex;
    align-items: flex-end;

    .fact-price,
    .percent {
      font-size: rem(13);
    }

    .fact-price {
      text-decoration: line-through;
      color: $bc;
      margin-right: rem(5);
    }

    .total {
      color: $mc;
      margin-right: rem(5);
    }

    .percent {
      color: $wc;
      transform: skew(-7deg);
      margin-top: -2px;

      span {
        padding: 0 rem(5);
        transform: skew(7deg);
        background-color: $mc;
        font-size: $fz13;
      }
    }
  }

  &__price-info {
    margin-top: rem(10);
    display: none;

    table {
      width: 100%;

      tr {
        td {
          font-size: $fz13;
          height: rem(25);

          &:last-child {
            text-align: right;
          }

          &.discount {
            color: $mc;
          }
        }
      }
    }
  }

  .undeline {
    font-size: $fz13;
  }

 

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bl;
    font-size: $fz13;
    height: rem(65);
    background-color: $wc;
    transition: $tr;

    &:hover {
      color: $mc;
    }
  }

  .popup-card__prev,
  .popup-card__next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    cursor: pointer;
    width: rem(100);
    transition: $tr;
    outline: none;
    opacity: 0;

    i {
      font-size: rem(30);
    }

    &:hover {
      opacity: 1;
    }
  }

  .popup-card__prev {
    left: 0;
    background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), $wc);
  }

  .popup-card__next {
    right: 0;
    background-image: linear-gradient(270deg, $wc, #ffffff00);
  }

  .fancybox-close-small {
    svg {
      path {
        fill: $wc;
      }
    }
  }

}

.deliveryRegion-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($bc, .7);
  z-index: 9999;
  padding: rem(20);
  opacity: 0;
  pointer-events: none;
  transition: $tr;

  &.--show {
    opacity: 1;
    pointer-events: inherit;
  }
}

.delivery-region {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  background-color: $wc;
  box-sizing: border-box;
  transition:  $tr;
  &.--open {
    bottom: 0;
  }

  @include sm {
    padding: rem(40) rem(15);
    border-radius: rem(16) rem(16) 0 0;
    max-width: calc(100% - 20px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    height: calc(100% - 30px);
  }

  &__input {
    position: relative;

    label {
      position: absolute;
      color: $sc;
      top: 10px;
      left: 0;
      pointer-events: none;
      transition: $tr;

      &.focused {
        top: -10px;
        font-size: 12px;
      }
    }

    input {
      width: 100%;
      border-bottom: rem(1) solid $sc;
      height: 40px;

      &:focus-visible+label {
        top: -10px;
        font-size: 12px;
      }
    }
  }

  &__col {
    &:first-child {
      width: 34%;

      @include sm {
        display: none;
      }
    }

    &:last-child {
      width: 64%;

      @include sm {
        width: 100%;
      }
    }
  }

  &__list {
    margin-top: 20px;
    height: 78%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: rgba($sc, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bl;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        width: 33.33%;
        margin-bottom: 3px;

        @include md {
          width: 50%;
        }

        @include sm {
          width: 33.33%;
        }

        @include xs {
          width: 50%;
        }

        a {
          color: $sc;
          transition: $tr;
          font-size: $fz13;

          &:hover {
            color: $bc;
          }
        }
      }
    }
  }
}

#deliveryRegion {
  padding: 20px;
}
 .basket-control {
   display: flex;
   margin: rem(30) 0;
  align-items: stretch;
   .btn {
     margin-right: rem(8);
     width: 100%;
     font-size: rem(14);
   }

   .like {
     width: 100%;
     max-width: rem(48);
     height: rem(48);
     border: rem(2) solid #e5e5e5;
     border-radius: rem(4);
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;

     &:hover {
       color: $mc;

       i {
         animation: heartbeat .5s infinite;
       }
     }

     i {
       font-size: rem(20);

       @keyframes heartbeat {
         20% {
           transform: scale(.9);
         }

         40% {
           transform: scale(1);
         }
       }
     }
   }
 }

 .about-product {
   ul {
     li {
       list-style-type: none;
       font-size: $fz13;
       margin-bottom: rem(10);
       display: none;

       &:nth-child(1),
       &:nth-child(2),
       &:nth-child(3) {
         display: block;
       }

       span {
         margin-left: rem(5);
         font-weight: 700;
       }
     }
   }
 }