.product {

  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(.7);
  }

  .swiper-button-prev {
    left: rem(-20);
  }

  .swiper-button-next {
    right: rem(-20);
  }

  &__slider {
    .swiper-wrapper {
      a {
        cursor: zoom-in;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: rem(100);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: $tr;
    opacity: 0;
    font-size: rem(30);

    @include lg {
      width: rem(80);
    }
    @include md {
      width: rem(70);
    }
    @include sm {
      width: rem(60);
    }
    @include xs {
      width: rem(50);
    }

    &:hover {
      opacity: 1;
    }
  }

  .prev {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), #fff);
  }

  .next {
    right: 0;
    background-image: linear-gradient(270deg, #fff, #ffffff00);
  }

  &__col-wrap {
    display: grid;
    grid-gap: rem(30);
    overflow: hidden;
    max-width: 1140px;
    grid-template-columns: 1.3fr 1.3fr 1fr;

    @include md {
      display: flex;
      flex-direction: column;
    }
  }

  &__col {

    &--first,
    &--third {
      grid-column: 1 / 3;
    }

    &--first {
      grid-row: 1;
    }

    &--third {
      grid-row: 2;

      .card {
        margin-top: 0;

        .card-prev {
          left: 0;
          opacity: .8;
        }

        .card-next {
          right: 0;
          opacity: .8;
        }
      }
    }

    &--second {
      grid-column: 3;
      grid-row: 1 / 3;

      .title {
        margin-bottom: rem(5);
      }

      .subtitle {
        font-size: rem(12);
        margin-bottom: rem(10);
      }

      .card__premium,
      .card__new,
      .card__pstock {
        position: relative;

      }

      .about-product {
        ul {
          margin-top: rem(10);
        }
      }
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
  }

  &__filter-item {
    margin-right: rem(8);
    padding: rem(5) rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(15);
    box-shadow: 0 0 rem(8) rgba($bc, .16);
    color: $bc;
    margin-bottom: rem(15);
    font-size: $fz13;
    cursor: pointer;
    transition: $tr;

    &.active {
      color: $wc;
      background-color: $bc;
    }

    &:hover {
      color: $wc;
      background-color: $bc;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .buying-in-parts {
    background-color: #f5f5f5;
    padding: rem(12) rem(8);
    border-radius: rem(4);
    font-size: $fz13;
    margin: rem(15) 0 rem(10);
  }

  &__info {
    border-bottom: rem(1) solid #e5e5e5;
    margin-bottom: rem(30);
  }

  &__delivery-info {
    p {
      font-size: $fz13;
      color: $sc;
      margin-bottom: rem(10);
    }
  }

  &__delivery-item {
    margin-bottom: rem(10);
    display: flex;
    align-items: center;

    .icon {
      margin-right: rem(15);
    }

    p {
      margin: 0;
    }
  }

  &__category {
    margin-top: rem(20);
  }

  &__category-item {
    display: flex;
    align-items: center;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .product__category-img {
        transform: scale(1.2);
      }

      .product__category-name {
        color: $sc;
      }
    }
  }

  &__category-img {
    min-width: rem(48);
    max-width: rem(48);
    width: 100%;
    height: rem(48);
    border-radius: 100%;
    margin-right: rem(12);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    transition: $tr;
  }

  &__category-name {
    color: $bc;
    display: block;
    transition: $tr;
  }

  &__category-sub {
    color: $sc;
    font-size: $fz13;
  }

  &__share {
    margin-top: rem(20);
  }

  &__recent {
    .card {
      margin-top: 0;
    }
  }
}