.tile {
  margin-top: rem(20);
  margin-bottom: rem(20);

  &--reverce {
    .tile__col-wrap {
      flex-direction: row-reverse;

      @include sm {
        flex-direction: column;
      }

      .tile__col {
        &:first-child {
          .tile__item {
            @include sm {
              margin-bottom: rem(20);
            }
          }
        }

        &:last-child {
          .tile__item {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-direction: column-reverse;
    }
  }

  &__col {
    @include sm {
      width: 100% !important;
    }

    &:first-child {
      width: calc(75% - 12px);
    }

    &:last-child {
      width: calc(25% - 12px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include sm {
        flex-direction: row;
        justify-content: space-between;
      }

      .tile__item {
        margin-bottom: rem(20);

        @include sm {
          width: calc(50% - 7.5px);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__item {

    .title,
    .category {
      font-size: rem(20);
      transition: $tr;

      @include lg {
        font-size: rem(16);
      }

      @include md {
        font-size: rem(13);
      }

      @include sm {
        font-size: rem(14);
      }

      @include xs {
        font-size: rem(13);
      }
    }

    .title {
      color: $bc;
      margin-bottom: rem(5);
    }

    .category {
      color: $sc;
      margin-top: rem(3);
      overflow: hidden;
      position: relative;
    }
  }

  &__img {

    a {
      position: relative;
      display: block;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($wc, .4);
        transition: $tr;
        opacity: 0;
      }
    }


    &:hover {
      a {
        &:before {
          opacity: 1;
        }
      }
    }

    &:hover+.tile__title {
      .title {
        color: $sc;
      }

      .category {
        span {
          opacity: 0;
        }

        .tile__slide-more {
          span {
            opacity: 1;
          }
        }
      }

      .tile__slide-more {
        left: 0;
        opacity: 1;
      }
    }
  }

  &__title {
    display: inline-block;
    margin-top: rem(5);

    &:hover {

      .title {
        color: $sc;
      }

      .category {
        span {
          opacity: 0;
        }

        .tile__slide-more {
          span {
            opacity: 1;
          }
        }
      }

      .tile__slide-more {
        left: 0;
        opacity: 1;
      }
    }
  }

  &__slider-control {
    position: absolute;
    right: 0;
    bottom: rem(20);
    max-width: rem(80);
    width: 100%;
  }

  .swiper-pagination {
    display: block;
  }

  &__slide-nav {
    position: relative;
    min-height: rem(15);
    z-index: 11;
  }

  &__slide-next,
  &__slide-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__slide-next,
  &__slide-prev,
  .swiper-pagination-fraction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }

  .swiper-pagination-fraction {
    font-size: rem(13);
  }

  &__slide-next {
    right: 0;
  }

  &__slide-prev {
    left: 0;
  }

  &__slide-more {
    transition: .2s;
    left: -100%;
    background-color: $wc;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 100%;
    height: 100%;
    opacity: 0;

    span {
      font-size: $fz13;
    }

    .arrow {
      background-image: url('../assets/img/arrow.svg');
      background-position: right;
      background-repeat: no-repeat;
      height: rem(10);
      width: 100%;
      max-width: rem(120);
      margin-right: rem(5);
    }
  }
}