extends layout/main/main
block title
  | catalog
block main
  .wrapper
    .content
      include includes/mobile-menu
      include includes/header/header
      .breadcrumbs
        .container
          ul
            li 
              a(href="#") Главная 
            li Женщинам 


    
      .catalog
        .container
          h2.title
            .come-back
              i.icon-left-small
            | Женская одежда, обувь и аксессуары
          .catalog__col-wrap
            .catalog__col
              .catalog__sidebar
                .catalog__dropdown
                  ul 
                    mixin category(name, num)
                      li
                        .catalog__item
                          a(href="#")=name
                          span=num
                          i.icon-angle-down.dropdown-trigger
                        ul 
                          mixin subcategory(name, num)
                            li
                              .catalog__item
                                a(href="#")=name
                                span=num
                                i.icon-angle-down.dropdown-trigger
                              ul  
                                li
                                  .catalog__item
                                    a(href="#")=name
                                    span=num
                                    i.icon-angle-down.dropdown-trigger
                                  ul 
                                    li 
                                      .catalog__item
                                        a(href="#")=name
                                        span=num
                                        i.icon-angle-down.dropdown-trigger
                                      ul 
                                        li 
                                          .catalog__item
                                            a(href="#")=name
                                            span=num
                                            i.icon-angle-down.dropdown-trigger
                          +subcategory('Обувь','55865')      
                          +subcategory('Обувь','55865')    
                          +subcategory('Одежда','218830')    
                          +subcategory('Аксессуары','49150')    
                          +subcategory('Premium','29271')    
                          +subcategory('Спорт','26261')    
                          +subcategory('Красота','15073')      
                          +subcategory('Обувь','55865')    
                    +category('Обувь','55865')    
                    +category('Одежда','218830')    
                    +category('Аксессуары','49150')    
                    +category('Premium','29271')    
                    +category('Спорт','26261')    
                    +category('Красота','15073')    
            .catalog__col
              .filter
                .mobile-sidebar-category
                  .current-category
                    i.icon-angle-down
                    | Категория 
                .mobile-category-list
                  a(href="#") Обувь 
                  a(href="#") Одежда 
                  a(href="#") Аксессуары 
                  a(href="#") Premium 
                  a(href="#") Спорт 
                  a(href="#") Красота
                .filter__mobile-trigger
                  i.icon-filter
                  | Фильтры

                .filter__select
                  input(type="hidden" value="")
                  .filter__selected
                    span По популярности
                    span 
                      i.icon-angle-down
                  .filter__dropdown
                    .filter__list-check
                      mixin radio(id, title)
                        .filter__list-item
                          input(type="radio" id=id name="filter")
                          label(for=id)=title
                      +radio('as1', 'По популярности')    
                      +radio('as2', 'По возрастанию цены')    
                      +radio('as3', 'По убыванию цены')    
                      +radio('as4', 'По новинкам')    
                      +radio('as5', 'По скидкам')    
                .filter__select.selected
                  input(type="hidden" value="")
                  .filter__selected
                    span Материалы
                    span.icon 
                      i.icon-cancel-1
                  .filter__dropdown.filter__dropdown--wide
                    .filter__dropdown-col-wrap
                      .filter__dropdown-col
                        .filter__dropdown-title Основной материал
                        mixin checkBox(label, id)
                          .check-box
                            .check-box__wrap
                              input(type="checkbox" id=id)
                              label(for=id)
                                div=label
                                span 7506
                        +checkBox('Акрил','a1')    
                        +checkBox('Акрил','a2')    
                        +checkBox('Акрил','a3')    
                        +checkBox('Акрил','a4')    
                        +checkBox('Акрил','a5')    
                        +checkBox('Акрил','a6')    
                        +checkBox('Акрил','a7')    
                        +checkBox('Акрил','a8')    
                        +checkBox('Акрил','a9')    
                        +checkBox('Акрил','a10')
                        +checkBox('Акрил','a11')    
                        +checkBox('Акрил','a12')    
                        +checkBox('Акрил','a13')    
                        +checkBox('Акрил','a14')    
                        +checkBox('Акрил','a15')    
                        +checkBox('Акрил','a16')    
                        +checkBox('Акрил','a17')    
                        +checkBox('Акрил','a18')    
                        +checkBox('Акрил','a19')    
                        +checkBox('Акрил','a20')    

                      .filter__dropdown-col
                        .filter__dropdown-title Материал верха
                        +checkBox('Акрил','a21')    
                        +checkBox('Акрил','a22')    
                        +checkBox('Акрил','a23')    
                        +checkBox('Акрил','a24')    
                        +checkBox('Акрил','a25')    
                        +checkBox('Акрил','a26')    
                        +checkBox('Акрил','a27')    
                        +checkBox('Акрил','a28')    
                        +checkBox('Акрил','a29')    
                        +checkBox('Акрил','a30')
                        +checkBox('Акрил','a31')    
                        +checkBox('Акрил','a32')    
                        +checkBox('Акрил','a33')    
                        +checkBox('Акрил','a34')    
                        +checkBox('Акрил','a35')    
                        +checkBox('Акрил','a36')    
                        +checkBox('Акрил','a37')    
                        +checkBox('Акрил','a38')    
                        +checkBox('Акрил','a39')    
                        +checkBox('Акрил','a40')    
                      
                      .filter__dropdown-col
                        .filter__dropdown-title Внутренний материал
                        +checkBox('Акрил','a41')    
                        +checkBox('Акрил','a42')    
                        +checkBox('Акрил','a43')    
                        +checkBox('Акрил','a44')    
                        +checkBox('Акрил','a45')    
                        +checkBox('Акрил','a46')    
                        +checkBox('Акрил','a47')    
                        +checkBox('Акрил','a48')    
                        +checkBox('Акрил','a49')    
                        +checkBox('Акрил','a50')
                        +checkBox('Акрил','a51')    
                        +checkBox('Акрил','a52')    
                        +checkBox('Акрил','a53')    
                        +checkBox('Акрил','a54')    
                        +checkBox('Акрил','a55')    
                        +checkBox('Акрил','a56')    
                        +checkBox('Акрил','a57')    
                        +checkBox('Акрил','a58')    
                        +checkBox('Акрил','a59')    
                        +checkBox('Акрил','a60') 
                        
                      .filter__dropdown-col
                        .filter__dropdown-title Утеплитель
                        +checkBox('Акрил','a61')    
                        +checkBox('Акрил','a62')    
                        +checkBox('Акрил','a63')    
                        +checkBox('Акрил','a64')    
                        +checkBox('Акрил','a65')    
                        +checkBox('Акрил','a66')    
                        +checkBox('Акрил','a67')    
                        +checkBox('Акрил','a68')    
                        +checkBox('Акрил','a69')    
                        +checkBox('Акрил','a70')
                        +checkBox('Акрил','a71')    
                        +checkBox('Акрил','a72')    
                        +checkBox('Акрил','a73')    
                        +checkBox('Акрил','a74')    
                        +checkBox('Акрил','a75')    
                        +checkBox('Акрил','a76')    
                        +checkBox('Акрил','a77')    
                        +checkBox('Акрил','a78')    
                        +checkBox('Акрил','a79')    
                        +checkBox('Акрил','a80')

                    .filter__dropdown-bottom
                      button.btn Применить
                .filter__select
                  input(type="hidden" value="")
                  .filter__selected
                    span Цвет
                    span.icon 
                      i.i.icon-angle-down
                  .filter__dropdown.filter__dropdown--narrow
                    form(action="#" )
                      input(type="text" placeholder="Найдите цвет").input
                      a(href="#").select-all Выбрать все
      
                      .filter__dropdown-col-wrap
                        .filter__dropdown-col
                          mixin checkBoxColor(label, id, color)
                            .check-box
                              .check-box__wrap
                                input(type="checkbox" id=id)
                                label(for=id)
                                  div
                                    span.color
                                      img(src=`assets/img/c`+color+`.svg`, alt="")
                                    =label
                                  span 7506
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                          +checkBoxColor('бежевый','a1','1')   
                          +checkBoxColor('бирюзовый','a2','2')   
                          +checkBoxColor('бордовый','a3','3')   
                      .filter__dropdown-bottom
                        button(type="submit").btn Применить
                .filter__select
                  input(type="hidden" value="")
                  .filter__selected
                    span Размер
                    span.icon 
                      i.i.icon-angle-down
                  .filter__dropdown.filter__dropdown--narrow
                    .filter__dropdown-col-wrap
                      .filter__dropdown-col
                        mixin checkBoxColor(label, id)
                          .check-box
                            .check-box__wrap
                              input(type="checkbox" id=id)
                              label(for=id)
                                div=label
                                span 7506
                        +checkBoxColor('1','b1')   
                        +checkBoxColor('2','b2')   
                        +checkBoxColor('3','b3')   
                        +checkBoxColor('4','b4')   
                        +checkBoxColor('5','b5')   
                        +checkBoxColor('6','b6')   
                        +checkBoxColor('7','b7')   
                        +checkBoxColor('8','b8')   
                        +checkBoxColor('9','b9')   
                        +checkBoxColor('10','b10')   
                        +checkBoxColor('11','b11')   
                        +checkBoxColor('12','b12')   
                        +checkBoxColor('13','b13')   
                        +checkBoxColor('14','b14')   
                        +checkBoxColor('15','b15')   
                        +checkBoxColor('16','b16')   
                        +checkBoxColor('17','b17')   
                        +checkBoxColor('18','b18')   
                       
                    .filter__dropdown-bottom
                      button(type="submit").btn Применить
                .filter__select
                  input(type="hidden" value="")
                  .filter__selected
                    span Бренд
                    span.icon 
                      i.i.icon-angle-down
                  .filter__dropdown.filter__dropdown--narrow
                    form(action="#" )
                      input(type="text" placeholder="Найдите бренд").input
                      a(href="#").select-all Выбрать все
      
                      .filter__dropdown-col-wrap
                        .filter__dropdown-col
                          mixin checkBoxColor(label, id)
                            .check-box
                              .check-box__wrap
                                input(type="checkbox" id=id)
                                label(for=id)
                                  div=label
                                  span 7506
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                          +checkBoxColor('47 Brand','a1')   
                         
                      .filter__dropdown-bottom
                        button(type="submit").btn Применить
                .filter__select
                  input(type="hidden" value="")
                  .filter__selected
                    span Цена
                    span.icon 
                      i.i.icon-angle-down
                  .filter__dropdown.filter__dropdown--narrow
                    form(action="#" )
                      .filter__dropdown-price
                        .filter__price
                          label(for="from") От
                          input(type="text" id="from" placeholder="0").input 
                        .filter__price
                          label(for="upTo") До
                          input(type="text" id="upTo" placeholder="999999").input


              .card.card--catalog
                mixin card(newProduct, stock, img, name, category, liked)
                  .card__item
                    .card__item-img
                      img(src=`assets/img/crd`+img+`.webp` , alt="")
                      a(href="#").card__img-list 
                        .card__img-item
                        img(src='assets/img/crd5.webp' , alt="")
                        .card__img-item  
                        img(src='assets/img/crd4.webp' , alt="")
                        .card__img-item  
                        img(src='assets/img/crd3.webp' , alt="")
                        .card__img-item  
                        img(src='assets/img/crd2.webp' , alt="")
                        .card__img-item  
                        img(src='assets/img/crd1.webp' , alt="")

                      if liked == 'liked'
                        .card__like.liked
                          i.icon-heart-empty
                      else  
                        .card__like
                          i.icon-heart-empty
                      if stock == "22"
                        .card__stock
                          span=-stock + '%'
                      else    
                      if newProduct == "new"
                        .card__new
                          span new
                      else    
                    .card__item-info-block
                      if stock == "22"
                        .card__item-price
                          span.percent 234
                          span.total 5 559 ₽
                      else
                        .card__item-price
                          span 5 559 ₽   
                      
                      .card__item-name=name
                      .card__item-category=category
                      
                      .card__item-bottom
                        .card__item-sizes 
                          a(href="#") 36
                          a(href="#") 37
                          a(href="#") 38 
                          a(href="#") 39 
                          a(href="#") 40 
  
                        a(href="#").detail Подробнее  
                        
                +card('new', '',  '1',  'Lorem', 'Lorem', '')
                +card('',   '22', '2',  'Lorem', 'Lorem', '')
                +card('',   '22', '3',  'Lorem', 'Lorem', 'liked')
                +card('',   '',   '4',  'Lorem', 'Lorem', '')
                +card('',   '',   '5',  'Lorem', 'Lorem', '')
                +card('',   '22', '6',  'Lorem', 'Lorem', '')
                +card('new', '',  '1',  'Lorem', 'Lorem', '')
                +card('',   '22', '2',  'Lorem', 'Lorem', '')
                +card('',   '22', '3',  'Lorem', 'Lorem', 'liked')
                +card('',   '',   '4',  'Lorem', 'Lorem', '')
                +card('',   '',   '5',  'Lorem', 'Lorem', '')
                +card('',   '22', '6',  'Lorem', 'Lorem', '')
                +card('new', '',  '1',  'Lorem', 'Lorem', '')
                +card('',   '22', '2',  'Lorem', 'Lorem', '')
                +card('',   '22', '3',  'Lorem', 'Lorem', 'liked')
                +card('',   '',   '4',  'Lorem', 'Lorem', '')
                +card('',   '',   '5',  'Lorem', 'Lorem', '')
                +card('',   '22', '6',  'Lorem', 'Lorem', '')

              .pagination
                a(href="#").prev
                  i.icon-left-small
                  span Назад
                a(href="#") 1
                a(href="#") 2
                a(href="#").active 3
                a(href="#") 4
                a(href="#") 5
                a(href="#").next
                  span Дальше
                  i.icon-right-small

        .responsive-filter
          .responsive-filter__window.filter-wraper-js
            .responsive-filter__header 
              .title Фильтры
              i.icon-cancel-1.close-filter
            .responsive-filter__wrapper
              mixin resFilter(id, title)
                a(href=`#`+id).responsive-filter__item.respFilterItem=title
                  input(type="hidden" value="")
              +resFilter('v1', 'По популярности')
              +resFilter('v2', 'Материалы')
              +resFilter('v3', 'Цвет')
              +resFilter('v4', 'Размер')
              +resFilter('v5', 'Бренд')
              +resFilter('v6', 'Цена')

          .responsive-filter__window#v1
            .responsive-filter__header 
              .title Сортировать
            .responsive-filter__wrapper 
              .responsive-filter__list-check
                mixin radioM(id, title)
                  .responsive-filter__item
                    input(type="radio" id=id name="filter")
                    label(for=id)=title                  
                +radioM('ds1', 'По популярности')  
                +radioM('ds2', 'По возрастанию цены')  
                +radioM('ds3', 'По убыванию цены')  
                +radioM('ds4', 'По новинкам')  
                +radioM('ds5', 'По скидкам')  
                +radioM('ds6', 'По популярности')

          .responsive-filter__window#v2
            .responsive-filter__header 
              .title Материалы
            .responsive-filter__list-check 
              .responsive-filter__wrapper 
                mixin checkBox(label, id)
                  .responsive-filter__item.responsive-filter__item--check-box
                    .check-box
                      .check-box__wrap
                        input(type="checkbox" id=id)
                        label(for=id)
                          div=label
                          span 7506
                +checkBox('Акрил','k1') 
                +checkBox('ПВХ','k2') 
                +checkBox('бархат','k3') 
                +checkBox('велюр','k4') 
                +checkBox('дерево','k5') 
                +checkBox('замша','k6') 
                +checkBox('искусственная замша','k7') 
                +checkBox('войлок','k8') 
        
          .responsive-filter__window#v3
            .responsive-filter__header 
              .title Цвет
            .responsive-filter__list-check 
              .responsive-filter__wrapper 
                mixin checkBox(label, id)
                  .responsive-filter__item.responsive-filter__item--check-box
                    .check-box
                      .check-box__wrap
                        input(type="checkbox" id=id)
                        label(for=id)
                          div=label
                +checkBox('Lorem','n1') 
                +checkBox('Lorem','n2') 
                +checkBox('Lorem.6','n3') 
                +checkBox('Lorem','n4') 
                +checkBox('Lorem','n5') 
                +checkBox('Lorem','n6') 
                +checkBox('Lorem','n7') 
                +checkBox('Lorem','n8') 

          .responsive-filter__window#v4
            .responsive-filter__header 
              .title Размер
            .responsive-filter__list-check 
              .responsive-filter__wrapper 
                mixin checkBox(label, id)
                  .responsive-filter__item.responsive-filter__item--check-box
                    .check-box
                      .check-box__wrap
                        input(type="checkbox" id=id)
                        label(for=id)
                          div=label
                +checkBox('34','h1') 
                +checkBox('35','h2') 
                +checkBox('35.6','h3') 
                +checkBox('36','h4') 
                +checkBox('37','h5') 
                +checkBox('38','h6') 
                +checkBox('40','h7') 
                +checkBox('42','h8') 
       
          .responsive-filter__window#v5
            .responsive-filter__header 
              .title Бренд
            .responsive-filter__list-check 
              .responsive-filter__wrapper
                form(action="") 
                  input.input(type="text" placeholder="Найти")
                  a.select-all Выбрать все
                mixin checkBox(label, id)
                  .responsive-filter__item.responsive-filter__item--check-box
                    .check-box
                      .check-box__wrap
                        input(type="checkbox" id=id)
                        label(for=id)
                          div=label
                +checkBox('34','h1') 
                +checkBox('35','h2') 
                +checkBox('35.6','h3') 
                +checkBox('36','h4') 
                +checkBox('37','h5') 
                +checkBox('38','h6') 
                +checkBox('40','h7') 
                +checkBox('42','h8') 

          .responsive-filter__window#v6
            .responsive-filter__header 
              .title Бренд
            .responsive-filter__list-check 
              .responsive-filter__wrapper
                form(action="#" )
                  .filter__dropdown-price
                    .filter__price
                      label(for="from") От
                      input(type="text" id="from" placeholder="0").input 
                    .filter__price
                      label(for="upTo") До
                      input(type="text" id="upTo" placeholder="999999").input
                  button(type="submit").btn применить    
                mixin checkBox(label, id)
                  .responsive-filter__item.responsive-filter__item--check-box
                    .check-box
                      .check-box__wrap
                        input(type="checkbox" id=id)
                        label(for=id)
                          div=label
                +checkBox('34','h1') 
                +checkBox('35','h2') 
                +checkBox('35.6','h3') 
                +checkBox('36','h4') 
                +checkBox('37','h5') 
                +checkBox('38','h6') 
                +checkBox('40','h7') 
                +checkBox('42','h8') 

      
      
    
    .deliveryRegion-mobile
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')
    #deliveryRegion(style="display: none;")
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')
    include includes/footer/footer


  include includes/scripts 
