extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/mobile-menu
      include includes/header/header
      //- .tile--reverce
      .tile
        include includes/tile
      
      .container  
        .swiper-container.category-slider
          .side-glow.left
          .side-glow.right
          .swiper-wrapper
            mixin category(img, name)
              .swiper-slide
                a(href="#").category-slider__item
                  .category-slider__item-img
                    img(src=`assets/img/ct`+img+`.webp` , alt="")
                  .category-slider__item-name=name
            +category('1','Кроссовки и кеды')
            +category('2','Куртки')
            +category('3','Красота')
            +category('4','Size Plus')
            +category('5','Платья')
            +category('6','Спорт')
            +category('7','Ботильоны')
            +category('8','Блузы и рубашки')
            +category('9','Lamoda Planet')
            +category('10','Сумки')
            +category('1','Кроссовки и кеды')
            +category('2','Куртки')
            +category('3','Красота')
            +category('4','Size Plus')
            +category('5','Платья')
            +category('6','Спорт')
            +category('7','Ботильоны')
            +category('8','Блузы и рубашки')
            +category('9','Lamoda Planet')
            +category('10','Сумки')
      
      .container
        a(href="#" class="banner" style="background-image: url('assets/img/bn3.jpg')")
          //- span outlet

      .tile.tile--reverce
        include includes/tile
      
      .container
        .card
          h2.title Популярное  
          .swiper-container.card-popular
            .swiper-wrapper
              mixin card(newProduct, stock, img, name, category, liked, fancy)
                .swiper-slide
                  .card__item
                    .card__item-img  
                      a(data-fancybox="" data-src=`#`+fancy href="javascript:;").card__popup-link
                      a(href="#").card__mobile-link
                      img(src=`assets/img/crd`+img+`.webp` , alt="")
                      if liked == 'liked'
                        .card__like.liked
                          i.icon-heart-empty
                      else  
                        .card__like
                          i.icon-heart-empty
                      if stock == "22"
                        .card__stock
                          div
                            span=-stock + '%'
                      else    
                      if newProduct == "new"
                        .card__new
                          div
                            span new
                      else    
                    .card__item-info-block
                      if stock == "22"
                        .card__item-price
                          span.percent 234
                          span.total 5 559 ₽
                      else
                        .card__item-price
                          span 5 559 ₽   
                      
                      .card__item-name=name
                      .card__item-category=category
                      .card__item-bottom
                        .card__item-sizes 
                          a(href="#") 36
                          a(href="#") 37
                          a(href="#") 38 
                          a(href="#") 39 
                          a(href="#") 40 
                        
              +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
              +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
              +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
              +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
              +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
              +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
              +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
            
 
          .swiper-button-prev  
          .swiper-button-next 


      .items-links
        .container
          h2.title Актуально
          .items-links__wrap.items-links__wrap--scroll
            
            mixin link(img, title, category, reduced)
              if reduced == 'reduced'
                .link-item.link-item--reduced
                  a(href="#")
                    .link-item__img
                      img(src=`assets/img/ln`+img+`.webp` , alt="")
                    .link-item__title=title
                    .link-item__category=category
              else
                .link-item  
                  a(href="#")
                    .link-item__img
                      img(src=`assets/img/ln`+img+`.webp` , alt="")
                    .link-item__title=title
                    .link-item__category=category
            +link('1', 'Ботильоны на каблуке', 'Ода женственности')    
            +link('2', 'adidas', 'Быть собой')    
            +link('3', 'Belle YOU','Новая коллекция')    
           
          .items-links__wrap.items-links__wrap--breaking-col
            +link('4', 'Поздравляйте из дома','Подарочный сертификат Lamoda','reduced')    
            +link('5', 'Lamoda стилист','Подберем образы на любой случай','reduced')    
            +link('6', 'Химчистка с доставкой','Закажите сейчас со скидкой 10%','reduced')    
            +link('7', 'Lamoda Planet','Узнайте о наших экологических инициативах','reduced')    
            


      .container
        .swiper-container.banner-slider
          .swiper-wrapper
            mixin banner(img, title, subtitle)
              .swiper-slide
                a(href="#")
                  .banner-slider__col
                    img(src=`assets/img/bn`+img+`.webp` , alt="")
                  .banner-slider__col
                    h2=title
                    h3=subtitle

            +banner('1', 'Получите до 25%','по программе скидок и бонусов Lamoda Club')  
            +banner('2', 'Скачайте приложение,', 'чтобы получить скидку')  

    include includes/footer/footer
    include includes/popup-card
    
    .deliveryRegion-mobile
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')
    #deliveryRegion(style="display: none;")
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')


  include includes/scripts 
