extends layout/main/main
block title
  | product
block main
  .wrapper
    .content
      include includes/mobile-menu
      include includes/header/header
      .discount-offer
        p Скидки до 50% на базовые коллекции
        a(href="#") Купить
      .breadcrumbs
        .container
          ul
            li 
              a(href="#") Главная 
            li 
              a(href="#") Женщинам 
            li 
              a(href="#") Premium 
            li 
              a(href="#") Одежда 
            li 
              a(href="#") Блузы и рубашки 
            li 
              a(href="#") Блузы
            li Блузы с коротким рукавом 

              
    
      .product
        .container
          .product__col-wrap
            .product__col.product__col--first
              
              .swiper-container.product__slider
                .swiper-wrapper
                  mixin product(img)
                    .swiper-slide
                      a(data-fancybox="gallery" data-src=`assets/img/product`+img+`b.webp` href="javascript:;") 
                        img(src=`assets/img/product`+img+`.webp`, alt="")
                  +product('1')
                  +product('2')
                  +product('3')
                  +product('4')
                  +product('5')
                .prev
                  i.icon-left-small    
                .next    
                  i.icon-right-small
            .product__col.product__col--second
              .product__info
                .title Weekend Max Mara
                .subtitle Блуза USSURI
                span 18 700 ₽
                .buying-in-parts Или от 3 117 ₽ в месяц.

              .dropdown 
                .dropdown__selected
                  i.icon-angle-down     
                  .dropdown__selected-img
                    img(src="assets/img/cs1.webp", alt="")
                  .dropdown__selected-name Зеленый
                  .dropdown__list 
                    mixin itemDrop(img, name)
                      a(href="#").dropdown__item
                        .dropdown__selected-img
                          img(src=`assets/img/dd`+img+`.webp`, alt="")
                        .dropdown__selected-name=name 
                    +itemDrop('1','Фиолетовый')  
                    +itemDrop('2', 'Серый')  
                    +itemDrop('3', 'Желтый')  
                    +itemDrop('4', 'Голубой')  
                    +itemDrop('5', 'Белый')  
                    +itemDrop('6', 'Серый')  
                    +itemDrop('7', 'Красный')

              .dropdown 
                .dropdown__selected
                  i.icon-angle-down     
                  .dropdown__placeholder Выберите размер
                  .dropdown__list 
                    .dropdown__size-info
                      span Российский 
                      span Производителя
                    mixin itemDrop(size, brand)
                      a(href="#").dropdown__item
                        .dropdown__size=size
                        .dropdown__brand=brand 
                    +itemDrop('42/44 RUS','S INT')  
                    +itemDrop('44/46 RUS','M INT')  
                    +itemDrop('46/48 RUS','L INT')  
                    +itemDrop('48/50 RUS','XL INT') 
              a(href="#").underline Таблица размеров
              
              .basket-control 
                 a(href="#" class="btn") Добавить в корзину
                 a(href="#" class="like").like 
                   i.icon-heart-empty  

              .product__delivery-info 
                p Доставим 
                  a(href="#").underline 29 марта 
                  | или позже
                .product__delivery-item 
                  .icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24')
                      path(fill='none' d='M0 24h24V0H0z')
                      path(fill='none' stroke='#000' d='M9.5 10.5h2v6h-2m7 3h5v-15h-19v15h7m-2-12v12m2-13v14l7-1v-12l-7-1zm7 1h5m-19 0h7')
                  p B 
                    a(href="#").underline пункты выдачи 
                    |  заказов — с примеркой, бесплатно при покупке от 3 500 ₽

                .product__delivery-item 
                  .icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24')
                      path(fill='none'  d='M0 24h24V0H0z')
                      path(fill='none' stroke='#000' d='M21.5 11v8.5H18v-2h2H4h2v2H2.5V11l2.186-5.193A2.2 2.2 0 0 1 6.696 4.5h10.608a2.2 2.2 0 0 1 2.01 1.307L21.5 11zM15 14.5H9m14-5H6m15.5 3H19L17 14M2.5 12.5H5L7 14M1 9.5h1.92')
                  p  По адресу, курьером — с примеркой, бесплатно при покупке от 4 500 ₽

              .about-product
                .title О товаре
                .card__premium
                  div
                    span premium
               
                ul  
                  mixin aboutProduct(name, desc)
                    li=name 
                      span=desc  
                  +aboutProduct('Состав:', 'Хлопок - 70%, Полиэстер - 25%, Лайкра - 5%')
                  +aboutProduct('Размер товара на модели: ', 'S INT')
                  +aboutProduct('Параметры модели:', '84-61-88')
                  +aboutProduct('Рост модели на фото:', '176')
                  +aboutProduct('Длина рукава:', '35')
                  +aboutProduct('Сезон:', 'мульти')
                  +aboutProduct('Цвет:', 'розовый')
                  +aboutProduct('Узор:', 'однотонный')
                  +aboutProduct('Карманы:', '2')
                  +aboutProduct('Комплектация:', 'свитшот, шорты')
                  +aboutProduct('Гарантийный период:', '30 дней')
                  +aboutProduct('Страна производства:', 'Россия')
                  +aboutProduct('Застежка:', 'шнурки')
                  +aboutProduct('Артикул:', 'MP002XW07XFY ')
                a(href="#").underline.more-info Подробнее
              
              .product__category
                mixin productCategory(img, name, sub)
                  a(href="#").product__category-item 
                    .product__category-img
                      img(src=`assets/img/productcat`+img+`.webp`, alt="") 
                    .product__category-desc
                      .product__category-name=name 
                      .product__category-sub=sub
                +productCategory('1', 'Все блузы с коротким рукав ...', 'Категория и бренд')
                +productCategory('2', 'Все товары Weekend M ...', 'Бренд')
                +productCategory('3', 'Все блузы с коротким рукав', 'Категория')
              
                .product__category-item 
                  .product__category-img
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24')
                      path(fill='none' d='M0 24h24V0H0z')
                      path(fill='none' stroke='#000' d='M12.5 19.5h-10v-16h19v16h-4M5 7.5h14m-14 4h4m-4 4h4m9.5-1.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-3 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm2 2.5v6H17l-2-2-2 2h-.5v-6')
                  .product__category-desc
                    p Только оригинальные бренды
                    a(href="#").product__category-sub.underline Гарантия подлинности
              
              .product__share
                .title Поделиться
                ul.social
                  mixin icon(soc) 
                    li 
                      a(href="#").item
                        i(class=soc)
                  +icon('icon-instagram')
                  +icon('icon-vkontakte')
                  +icon('icon-facebook')
            .product__col.product__col--third
              .card
                h2.title Похожие
                .product__filter  
                  .product__filter-item.active визуально
                  .product__filter-item этого цвета
                  .product__filter-item этого бренда  
                  .product__filter-item со скидкой  
                .swiper-container.card-slider
                  .swiper-wrapper
                    mixin card(newProduct, stock, img, name, category, liked, fancy, premium)
                      .swiper-slide
                        .card__item
                          .card__item-img  
                            a(data-fancybox="" data-src=`#`+fancy href="javascript:;").card__popup-link
                            a(href="#").card__mobile-link
                            img(src=`assets/img/crd`+img+`.webp` , alt="")
                            if liked == 'liked'
                              .card__like.liked
                                i.icon-heart-empty
                            else  
                              .card__like
                                i.icon-heart-empty
                            if stock == "22"
                              .card__stock
                                div
                                  span=-stock + '%'
                            else    
                            if newProduct == "new"
                              .card__new
                                div
                                  span new
                            else    
                            if premium == "premium"
                              .card__premium
                                div
                                  span premium
                            else    
                          .card__item-info-block
                            if stock == "22"
                              .card__item-price
                                span.percent 234
                                span.total 5 559 ₽
                            else
                              .card__item-price
                                span 5 559 ₽   
                            
                            .card__item-name=name
                            .card__item-category=category
                            .card__item-bottom
                              .card__item-sizes 
                                a(href="#") 36
                                a(href="#") 37
                                a(href="#") 38 
                                a(href="#") 39 
                                a(href="#") 40 
                              
                    +card('', '',  '1',  'Lorem', 'Lorem', '', 'popup', 'premium')
                    +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                    +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                    +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                    +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                    +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                    +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                    +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                  .swiper-button-next.card-next     
                  .swiper-button-prev.card-prev
              .product__recent
                .card
                  .title Вы недавно просматривали
                  .swiper-container.card-slider
                    .swiper-wrapper
                      mixin card(newProduct, stock, img, name, category, liked, fancy, premium)
                        .swiper-slide
                          .card__item
                            .card__item-img  
                              a(data-fancybox="" data-src=`#`+fancy href="javascript:;").card__popup-link
                              a(href="#").card__mobile-link
                              img(src=`assets/img/crd`+img+`.webp` , alt="")
                              if liked == 'liked'
                                .card__like.liked
                                  i.icon-heart-empty
                              else  
                                .card__like
                                  i.icon-heart-empty
                              if stock == "22"
                                .card__stock
                                  div
                                    span=-stock + '%'
                              else    
                              if newProduct == "new"
                                .card__new
                                  div
                                    span new
                              else    
                              if premium == "premium"
                                .card__premium
                                  div
                                    span premium
                              else    
                            .card__item-info-block
                              if stock == "22"
                                .card__item-price
                                  span.percent 234
                                  span.total 5 559 ₽
                              else
                                .card__item-price
                                  span 5 559 ₽   
                              
                              .card__item-name=name
                              .card__item-category=category
                              .card__item-bottom
                                .card__item-sizes 
                                  a(href="#") 36
                                  a(href="#") 37
                                  a(href="#") 38 
                                  a(href="#") 39 
                                  a(href="#") 40 
                                
                      +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                      +card('', '',  '1',  'Lorem', 'Lorem', '', 'popup', 'premium')
                      +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                      +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                      +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                      +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                      +card('new', '',  '1',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '2',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '3',  'Lorem', 'Lorem', 'liked', 'popup')
                      +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '',   '4',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '22', '6',  'Lorem', 'Lorem', '', 'popup')
                      +card('',   '',   '5',  'Lorem', 'Lorem', '', 'popup')
                    .swiper-button-prev.card-prev    
                    .swiper-button-next.card-next


            
      
      
    
    .deliveryRegion-mobile
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')
    #deliveryRegion(style="display: none;")
      .delivery-region
        .delivery-region__col
          img(src="assets/img/delivery-region.webp", alt="")
        .delivery-region__col
          .title Где вы находитесь?
          form(action="")
            .delivery-region__input
              input(type="text" id="city" name="city") 
              label(for="city") Название населенного пункта  
          .delivery-region__list
            ul
              mixin region(city)
                li
                  a(href="#")=city
              +region('г. Москва')
              +region('г. Санкт-Петербург')
              +region('г. Барнаул')
              +region('г. Владивосток')
              +region('г. Волгоград')
              +region('г. Воронеж')
              +region('г. Екатеринбург')
              +region('г. Ижевск')
              +region('г. Иркутск')
              +region('г. Казань')
              +region('г. Кемерово')
              +region('г. Краснодар')
              +region('г. Красноярск')
              +region('г. Махачкала')
              +region('г. Нижний Новгород')
              +region('г. Новосибирск')
              +region('г. Омск')
              +region('г. Оренбург')
              +region('г. Пермь')
              +region('г. Ростов-на-Дону')
              +region('г. Самара')
              +region('г. Саратов')
              +region('г. Тольятти')
              +region('г. Томск')
              +region('г. Тюмень')
              +region('г. Ульяновск')
              +region('г. Уфа')
              +region('г. Хабаровск')
              +region('г. Челябинск')
              +region('г. Ярославль')
    include includes/popup-card
    include includes/footer/footer


  include includes/scripts 
